@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #ffffff;
  background: #181920;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.Bottom{
  background-color: #181920;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;

}
.input:focus{
  border: none;
  outline: none;
}

.wavy-background {
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #6362ed 0%, #6362ed77 50%, #ffffff 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
